{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1 class="font-weight-bold m-3">Новый курс</h1>

    {{ include('course/_form.html.twig') }}
    <div class="line mt-4 mb-4"></div>
    <a href="{{ path('course_index') }}" class="btn btn-outline-primary">К списку курсов</a>
{% endblock %}
