{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1 class="font-weight-bold m-3">Новый урок</h1>
    {{ include('lesson/_form.html.twig') }}
    <div class="line mt-4 mb-4"></div>
    <a href="{{ path('lesson_index') }}" class="btn btn-outline-secondary mr-3">К списку уроков</a>
{% endblock %}
